<!DOCTYPE html>
<html lang="en-US">

<head>
    <meta charset="UTF-8">
    <title></title>
    {{!-- <link rel="stylesheet" href="./assets/css/style.css"> --}}
</head>

<body>
    <header>
        <navigation>
            <a href="/">Home</a>
            <a href="/dash/{{currUserId}}">Dashboard</a>
            {{#if loggedIn}}
            <a>Logout</a>
            {{else}}
            <a href="../login">Login</a>
            {{/if}}
        </navigation>
        <h1>The Tech Blog</h1>
    </header>
    <content>
        {{{body}}}
    </content>
</body>

</html>