<!DOCTYPE html>
<html lang="en-US">

    <head>
        <meta charset="UTF-8">
        <title></title>
        <link rel="stylesheet" href="./assets/css/style.css">
    </head>

    <body>
        <header>
            <navigation>
                <a>Home</a>
                <a>Dashboard</a>
                <a>Login</a>
            </navigation>
            <title>
                <h1>The Tech Blog</h1>
            </title>
        </header>
        <content>
            {{{body}}}
        </content>
    </body>

</html>