<div>
    <h1>This is the LOGIN page</h1>
<form class="login-form">
    <div>
        <label for="username-login">Username</label>
        <input type="text" id="username-login" name="username" />
    </div>
    <div>
        <label for="password-login">Password</label>
        <input type="password" id="password-login" name="password" />
    </div>
    <div>
        <button type="submit">Login!</button>
    </div>
</form>
</div>
<div>
    <a href="/signup"><button>Sign up instead</button></a>
</div>

<script src="./js/login.js"></script>