<div>
    <form class="newPostForm">
        <label for="title-input">Title</label>
        <div>
            <input type="text" id="title-input"></textarea>
        </div>
        <label for="content-box">Content</label>
        <div>
            <textarea id="content-box"></textarea>
        </div>
        <button type="submit">Create</button>
    </form>

</div>

<script src="./js/newpost.js"></script>