<div>
    <h1>This is the SIGN UP page</h1>
    <form class="signup-form">
        <div>
            <label for="username-input">Username</label>
            <input type="text" id="username-input" />
        </div>
        <div>
            <label for="password-input">Password</label>
            <input type="password" id="password-input" />
        </div>
        <div>
            <button type="submit">Sign Up!</button>
        </div>
    </form>
</div>
<div>
    <a href="/login"><button>Login instead</button></a>
</div>

<script src="./js/signup.js"></script>