</div>
<h2>{{singleBlog.title}}</h2>
<p>Posted by {{singleBlog.user.username}} on {{format_date singleBlog.createdAt}}</p>
<p>{{singleBlog.description}}</p>
</div>
<div>
    {{> comments}}
</div>
<div>
    <form class="addCommentForm">
        <label for="comment-box">Comment</label>
        <div>
            <textarea id="comment-box"></textarea>
        </div>
        <button type="submit">Add comment</button>
    </form>

</div>

<script src="./js/addcontent.js"></script>