</div>
<h2>{{singleBlog.title}}</h2>
<p>Posted by {{singleBlog.user.username}} on {{format_date singleBlog.createdAt}}</p>
<p>{{singleBlog.description}}</p>
</div>
<div>
{{> comments}}
</div>
<a><button>Add comment</button></a>